<% if current_user %>
<h2>Crear un nuevo álbum</h2>
<h5><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></h5>

<p id="notice"><%= notice %></p>

<%= form_for @album, :url => {:action => 'create'}  do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre, "Nombre" %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Álbum" %>
  </div>
<% end %>
<% end %>

<ul>
<% if @albumes.any? %>	
<% @albumes.each do |album| %>
  <li class="<%= cycle('break', '', '', 'last') %>">
	<% if album.fotos.any? %>
	<%= link_to truncate(album.nombre, :length => 32), album %>
	<br />
	<%= link_to image_tag(album.fotos.first.foto(:thumb)), album %>
	<% else %>
    <%= link_to truncate(album.nombre, :length => 32), album %>
    <% end %>
  <% if current_user %>
  <br />
    <%= link_to 'Cambiar nombre', edit_album_path(album) %>
    <%= link_to 'Eliminar álbum', album, :confirm => '¿Estás seguro? Se borraran todas las fotos que están en álbum', :method => :delete %>
  <% end %>
  </li>
<% end %>
<% else %>
No hay ningún álbum creado.
<% end %>
</ul>