<% content_for :javascript do %>
  <%= stylesheet_link_tag '/javascripts/libs/lightbox/themes/white-green/jquery.lightbox.css' %>
  <%= javascript_include_tag '/javascripts/libs/lightbox/jquery.lightbox.min.js' %>
  <script type="text/javascript">
    $(document).ready(function() {
      jQuery('.lightbox').lightbox();
    })
  </script>
<% end %>

<% if current_user %>
<p id="notice"><%= notice %></p>
<h2>Agregar una nueva foto</h2>
<h5><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></h5>
  <%= form_for(:foto, :url => album_fotos_url(@album), :html => { :multipart => true }) do |f| %>
    <div class="field">
      <%= f.label :foto, "Foto" %><br />
      <%= f.file_field :foto %>
    </div>
    <div class="actions">
      <%= f.submit "Guardar" %>
    </div>
  <% end %>
<% end %>
<p>
  <h1><%= @album.nombre %></h1>
</p>

<ul>
<% if @album.fotos %>
  <% @album.fotos.each do |foto| %>
    <li class="<%= cycle('break', '', '', 'last') %>">
      <%= link_to image_tag(foto.foto(:thumb)), foto.foto(:regular), :class => 'lightbox', :rel => 'gallery' %>
      <% if current_user %>
      <br />
      <%= link_to 'Eliminar', album_foto_url(@album, foto), :confirm => '¿Estás seguro?', :method => :delete %>
      <% end %>
  </li>
  <% end %>
<% end %>
</ul>
<div class="controles">
<% if current_user %>
<%= link_to 'Cambiar nombre al álbum', edit_album_path(@album), :class => 'btn rename' %> |
<% end %>
<%= link_to 'Volver', albumes_path, :class => 'btn back' %>
</div>